*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#background{
    background-image: url(https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    border: none;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
}
 h1{
    position: absolute;
    top: 15px;
    left: 150px;
    color: red;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#lang{
    position: absolute;
    height: 5%;
    width: 6%;
    left: 77%;
    top: 4%;
    background-color: transparent;
    color: white;
    border-radius: 4px;
}
#signin{
    position: absolute;
    height: 5%;
    width: 6%;
    left: 85%;
    top: 4%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}
#main{
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    font-size: 50px;
}
#under{
    position: absolute;
    top: 50%;
    left: 37%;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#under2{
    position: absolute;
    top: 60%;
    left: 28%;
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
#email{
    position: absolute;
    top: 67%;
    left: 30%;
    background-color: transparent;
    height: 8%;
    width: 25%;
    color: white;
    border-radius: 4px;
    font-size: 20px;
}
#submit{
    position: absolute;
    top: 67%;
    left: 57%;
    background-color: red;
    height: 8%;
    width: 12%;
    border-radius: 4px;
    border: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}